{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Go-Tennis</h1>
        <p class="lead">World class tennis lessons by professional tennis players</p>
        <hr class="my-4">
        <p>Teaching that suits your capabilities when it's suitable for you</p>
        <a class="btn btn-main btn-lg" href="{% url 'lessons' %}" role="button">Learn more</a>
    </div>
    <div class="container-about container">
        <div class="row text-center">
            <div class="col">
                <h2>About Go-Tennis</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elit nisi, congue sed molestie eu, 
                    luctus finibus nulla. Aenean luctus, diam et efficitur maximus, libero sapien tincidunt lectus, sit amet 
                    semper libero urna at dolor. Nunc faucibus magna nisl, vitae pulvinar enim ultricies quis. Mauris sollicitudin 
                    vitae elit et commodo. Vivamus est mauris, eleifend pellentesque nulla et, luctus elementum quam. Nullam mauris 
                    ipsum, cursus quis placerat rutrum, placerat at nulla. In et ultrices ante. Cras tempor semper volutpat. Etiam 
                    tellus arcu, tristique at turpis quis, iaculis ornare ante. Vestibulum varius turpis id nibh dignissim, a elementum 
                    massa lobortis. Nulla feugiat tellus nec mauris pellentesque, ac porttitor lorem volutpat.
                </p>
                <p>
                    Vestibulum odio ipsum, blandit tempus interdum a, eleifend quis lorem. Ut condimentum, arcu eget lobortis lobortis, 
                    lectus purus finibus risus, et eleifend lorem leo sit amet sem. Proin semper vitae elit ut imperdiet. Aliquam erat 
                    volutpat. Suspendisse potenti. Curabitur dignissim elit sed orci mollis feugiat. Cras at ullamcorper augue. Aliquam 
                    et ipsum a metus cursus molestie ut quis velit.
                </p>
                <a href="" class="btn btn-info btn-large text-uppercase">Coaches</a>
                <a href="{% url 'lessons' %}" class="btn btn-info btn-large text-uppercase">Lessons</a>
            </div>
        </div>
    </div>
    <div class="container-fluid container-shop">
        <div class="row text-center">
            <div class="col">
                <h2>Get Ready For Lessons</h2>
                <a href="{% url 'products' %}" class="btn btn-grey btn-large text-uppercase">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="container-fluid container-newsletter">
        <div class="row text-center">
            <div class="col">
                <h2>Keep up to date on Go-Tennis</h2>
                <a href="" class="btn btn-info btn-large"><i class="fas fa-plus-circle"></i> Join Our Newsletter</a>
            </div>
        </div>
    </div>
    <div class="container container-map">
        <div class="row text-center">
            <div class="col">
               <img src="http://clissoldpark.com/wp-content/uploads/2014/03/clissold-park-map-web.jpg" alt="map of clissold park">
            </div>
        </div>
    </div>
{% endblock %}