{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Go-Tennis</h1>
        <p class="lead">World class tennis lessons by professional tennis players</p>
        <hr class="my-4">
        <p>Teaching that suits your capabilities when it's suitable for you</p>
        <a class="btn btn-main btn-lg" href="{% url 'lessons' %}" role="button">Learn more</a>
    </div>
    <div class="container-about container">
        <div class="row text-center">
            <div class="col">
                <h2>About Go-Tennis</h2>
                <h5 class="text-capitalize">
                    Who we are
                </h5>
                <p>
                    Go-Tennis provides tennis lessons in the heart of London since 2005. Located in East London, Go-Tennis
                    has been the go to professionals to help all adults with their tennis game. 
                    We are particularly popular for providing fun, recreational and yet productive tennis courses for those 
                    of all standards. Our coaches speak many languages (English, Italian, Spanish, French, Russian). 
                    They are all LTA licensed, insured, DBS checked, and First Aid qualified. Our services can cater to complete beginners all the way up to ATP and WTA ranked players.
                </p>
                <h5 class="text-capitalize">
                    Our Ethos
                </h5>
                <p>
                    Our aim doesn't stop at teaching tennis skills. We strive to teach life skills such as 
                    respect, friendliness, politeness, camaraderie, team bulding, leadership, competitiveness 
                    and reliability.
                </p>
                <a href="{% url 'view_coaches' %}" class="btn btn-info btn-large text-uppercase">Coaches</a>
                <a href="{% url 'lessons' %}" class="btn btn-info btn-large text-uppercase">Lessons</a>
            </div>
        </div>
    </div>
    <div class="container-fluid container-shop">
        <div class="row text-center">
            <div class="col">
                <h2>Get Ready For Lessons</h2>
                <a href="{% url 'products' %}" class="btn btn-grey btn-large text-uppercase">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="container-fluid container-lessons">
        <div class="row text-center">
            <div class="col">
                <h2>See our upcoming lessons</h2>
                <a href="{% url 'all_lessons' %}" class="btn btn-info btn-large text-uppercase">Book a lesson</a>
            </div>
        </div>
    </div>
    <div class="container container-map">
        <div class="row text-center">
            <div class="col">
                <h3>Located at:</h3>
                <a href="https://www.google.com/maps/search/clissold+park+tennis+map/@51.563125,-0.0884502,17z/data=!3m1!4b1?hl=en" target="_blank" rel="noopener noreferrer">
                    <img class="img-fluid" src="/media/clissold-park.PNG" alt="map of clissold park">
                    <p>Clissold Park, London N16 0BF</p>
                </a>
               
            </div>
        </div>
    </div>
{% endblock %}