@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

:root {
  --main-blue: #a3cdd9;
  --dark-blue: #3f596e;
  --mustard: #d39e00;
  --greige: #c2b8ad;
  --beige-color: #fffce6;
}

html {
    height: 100%;
}

body {
    font-family: "Lora", Helvetica, sans-serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #3f596e;
}

/* ----------------------------------------add colours */

.bg-lightblue {
    background-color: var(--main-blue);
}

.bg-darkblue {
    background-color: var(--dark-blue);
}

.bg-white {
    background-color: white;
}

.text-blue {
    color: #007bff;
}

/* ----------------------------------------------nav bar */
.main-nav-link {
    padding: 20px 20px;
    font-weight: 500;
    font-size: 21px;
}

.main-nav-link:hover {
    color: var(--beige-color);
}

/* ------------------------------------------------dropdown */
.border-black {
    border-color: black;
}

/* ------------------------------------------------buttons */

.btn-beige {
    background-color: var(--beige-color);
    color: black;
}

.btn-beige:hover {
    background-color: var(--greige);
    color: black;
}

.btn-darkblue {
    background-color: var(--dark-blue);
    color: white;
}

.btn-darkblue:hover {
    background-color: var(--main-blue);
    color: black;
}

.btn-lightblue {
    background-color: var(--main-blue);
    color: black;
}

.btn-lightblue:hover{
    background-color: var(--dark-blue);
    color: white;
}

.btn-greige {
    background-color: var(--greige);
    color: black !important;
}

.btn-greige:hover {
    background-color: var(--dark-blue);
    color: white !important;
}

.badge-light-outline {
    border: 2px solid var(--main-blue);
    color: black;
}

.badge-light-outline:hover {
    background-color: var(--main-blue);
    color: white;
}

.badge-lightblue {
    background-color: var(--main-blue);
    border: 2px solid var(--main-blue);
    color: black;
}

.badge-dark-outline {
    border: 2px solid var(--dark-blue);
    color: black;
}

.badge-dark-outline:hover {
    background-color: var(--dark-blue);
    color: white;
}

.badge-darkblue {
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    color: white;
}

.badge-darkblue a:hover{
    color: white;
}

.btn-outline-black {
    background: white;
    border: 1px solid black;
}

.decrement-qty:disabled {
    background-color: var(--greige);
    border-color: var(--greige);
}

.increment-qty:disabled {
    background-color: var(--greige);
    border-color: var(--greige);
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn-words {
    background-color: white;
    border-color: white;
    color: red;
    border-style: none;
}

.btt-link,
.update-link,
.remove-item,
.remove-lesson {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}
input[name='price']::placeholder {
    color: #aab7c4;
}
/* ------------------------------------------------containers */
.container-shop {
    padding: 40px;
    background-color: var(--dark-blue);
    color: white;
}

.container-about {
    margin-bottom: 25px;
}

.container-lessons {
    background-color: var(--beige-color);
    padding: 35px;
}

.container-map {
    padding: 25px;
}

.container-map img {
    height: 250px;
}

.header-margin {
    margin-top: 75px;
    margin-bottom: 2rem;
}

/* -----------------------------------------------toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -----------------------------------------------------jumbotron */
.jumbotron {
    background: url('/media/homepage_image.jpg') no-repeat right center fixed;
    background-size: cover;
    min-height: 350px;
    color: black;
    padding-top: 80px;
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: 600;
}

.jumbotron p {
    font-weight: 500;
}

.jumbotron hr {
    background-color: black;
}

/* -----------------------------------------coach & coaches page */
.fa-star {
    color: var(--mustard);
}

/* -------------------------------------------Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* ------------------- from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* --------------------------------------Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------------------------Keep footer at bottom */
#page-container {
    position: relative;
    min-height: calc(100vh - 64px);
}
  
#content-wrap {
    padding-bottom: 135px;    /* Footer height */
}
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 135px;            /* Footer height */
}

/* -----------------------------------------------------footer */
.social-links {
    padding-left: 3em;
    font-size: 1.5rem;
    margin-top: 10px;
}

/* ----------------------------------------------------Allauth form formatting */

.allauth-form-inner-content {
    margin-bottom: 3rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #000;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (min-width: 768px){
    .jumbotron {
        text-align: right;
    }
    .mobile-nav-mr {
        margin-right: 3rem;
    }
}

@media (min-width: 992px) {
    
    .header-container {
        padding-top: 164px;
    }
    
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
  
    .jumbotron {
        padding-top: 170px;
    }
      
    .header-margin {
        margin-top: 145px !important;
    }
      
    /* keep footer at bottom */
    #page-container {
        position: relative;
        min-height: calc(100vh - 132px);
    }
        
    #content-wrap {
        padding-bottom: 135px;    /* Footer height */
    }
        
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 135px;            /* Footer height */
    }
}

/* For very small screens */
@media (max-width: 335px) {
    .btn {
        font-size: 12px !important;
    }
    .mobile-nav-link {
        font-size: 11px;
    }
    fa-home {
        font-size: 14px;
    }
}

