<div class="footer mt-3">
    <div class="row footer-row pb-4 bg-lightblue">
        <div class="col-12">
            <div class="row mx-auto pt-3">
                <div class="col-12 col-md-4 text-center">
                    <div class="col">
                        <h5>Contact</h5>
                        <p class="mb-0 p-0">Email us at 
                            <a href="mailto:go-tennis@email.com" target="_blank" rel="noreferrer">
                                go-tennis@email.com
                            </a>
                        </p>
                        <p class="mb-0 p-0">Call us on 
                            <a href="tel:+4733378901">
                                +47 333 78 901
                            </a>
                        </p>
                    </div>                                        
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="col footer_list social-links">
                        <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
                            <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            <span class="sr-only">Facebook Link</span>
                        </a>
                        <a href="https://twitter.com" target="_blank" rel="noreferrer">                                                               
                            <i class="fab fa-twitter-square" aria-hidden="true"></i>
                            <span class="sr-only">Twitter Link</span>
                        </a>
                        <a href="https://www.instagram.com" target="_blank" rel="noreferrer">   
                            <i class="fab fa-instagram-square mr-5" aria-hidden="true"></i>
                            <span class="sr-only">Instagram Link</span>
                        </a>
                    </div> 
                    <p class="mb-3 small">Copyright Go-Tennis {% now 'Y' %}</p>                                             
                </div>
                <div class="col-12 col-md-4 footer_list text-center">
                    <p class="mb-0 p-0">Go-Tennis</p>
                    <p class="mb-0 p-0">Clissold Park</p>
                    <p class="mb-0 p-0">London</p>
                    <p class="mb-0 p-0">N16 0BF</p>
                </div>
            </div>
        </div>
    </div>
</div>