    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex bg-white">
        <div class="col-12 col-lg-4 py-auto">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h3>
                    <img src="{{ MEDIA_URL }}go_tennis_logo.png" class="d-inline-block" width="69" height="60" alt="">
                    <strong>Go</strong>-Tennis
                </h3>
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search for a Product">
                    <div class="input-group-append">
                        <button class="form-control btn btn-lightblue" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 text-center">
            <ul class="list-inline list-unstyled text-right">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-black" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_staff %}
                                <a href="{% url 'add_lesson' %}" class="dropdown-item">Lesson Management</a>
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    <a href="{% url 'add_coach' %}" class="dropdown-item">Coach Management</a>
                                {% endif %}
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Signup</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                     <a class="text-black nav-link" href="{% url 'view_bag' %}">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                {% else %}
                                    $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light w-100 bg-lightblue">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>