<!-- 2nd nav bar on big screens and drowdown links in hamburger for small screens -->
<div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="main-nav-link" href="{% url 'view_coaches' %}">Coaches</a>
        </li>
        <li class="nav-item">
            <a class="main-nav-link" href="{% url 'lessons' %}">Lessons</a>
        </li>
        <li class="nav-item">
            <a class="main-nav-link" href="{% url 'all_lessons' %}">Book Lesson</a>
        </li>
        <li class="nav-item">
            <a class="main-nav-link" href="{% url 'products' %}">Shop</a>
        </li>
    </ul>
</div>