{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-space container">
        <div class="row text-center">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Lessons Schedule</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            {% for lesson in lessons %}
            <div class="col-2">
                <form class="form" action="{% url 'book_lesson' lesson.id %}" method="POST">
                {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                        {% if lesson.class_type %}
                            <h5 class="card-title">{{ lesson.class_type.friendly_name }}</h5>
                        {% endif %}
                        <p class="card-text">{{ lesson.coach }}</p>
                        <p class="card-text">{{ lesson.date }}</p>
                        <p class="card-text">{{ lesson.time }}</p>
                        <p class="card-text">{{ lesson.price }}</p>
                        {% if lesson.spots > 0 %}
                            <input type="submit" class="btn btn-main text-uppercase mt-5" value="Book Lesson">
                        {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    
    <div class="container-fluid container-shop">
        <div class="row text-center">
            <div class="col">
                <h2>Get Ready For Lessons</h2>
                <a href="{% url 'products' %}" class="btn btn-grey btn-large text-uppercase">Shop Now</a>
            </div>
        </div>
    </div>

{% endblock %}