{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="header-margin container">
        <div class="row text-center">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Lessons Schedule</h2>
                {% for class_type in class_types %}
                    <a href="{% url 'book_lessons' %}?class_type={{ class_type }}">
                        {% if sort_label == class_type.name %}
                            <span class="p-2 mt-2 badge badge-lightblue badge-pill text-capitalize">{{ class_type }}</span>
                        {% else %}
                            <span class="p-2 mt-2 badge badge-light-outline badge-pill text-capitalize">{{ class_type }}</span>
                        {% endif %}
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row text-center">
            <div class="col text-center">
                {% for coach in coaches %}
                <a class="category-badge text-decoration-none" href="{% url 'book_lessons' %}?coach={{ coach.id }}">
                    {% if current_coach_name == coach.id %}
                        <span class="p-2 mt-2 mb-3 badge badge-darkblue badge-pill">{{ coach.first_name }}</span>
                    {% else %}
                        <span class="p-2 mt-2 mb-3 badge badge-dark-outline badge-pill">{{ coach.first_name }}</span>
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="lesson-sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                    Sort by...
                                </option>
                                <option value="price/asc" {% if current_sorting == "price_asc" %} selected{% endif %}>
                                    Price (low to high)
                                </option>
                                <option value="price/desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="date/asc" {% if current_sorting == 'date_asc' %}selected{% endif %}>Date (low to high)</option>
                                <option value="date/desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>Date (high to low)</option>
                                <option value="coach/asc" {% if current_sorting == 'coach_asc' %} selected {% endif %}>Coach (A-Z)</option>
                                <option value="coach/desc" {% if current_sorting == 'coach_desc' %}selected{% endif %}>Coach (Z-A)</option>
                                <option value="class_type/asc" {% if current_sorting == 'class_type_asc' %}selected{% endif %}>Class type (A-Z)</option>
                                <option value="class_type/desc" {% if current_sorting == 'class_type_desc' %}selected{% endif %}>Class type(Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left text-capitalize">
                            {% if sort_label or current_coach_name or current_sorting != 'None_None' %}
                                <a href="{% url 'book_lessons' %}">
                                    <span class="badge-darkblue badge badge-pill">
                                        All Lessons
                                    </span> 
                                </a>
                            {% endif %}
                            {{ lessons|length }} {% if sort_label %} {{ sort_label }}{% endif %} lessons
                        </p>
                    </div>
                </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Class Type</th>
                        <th scope="col">Coach</th>
                        <th scope="col">Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in lessons %}
                    <form class="form" action="{% url 'book_lesson' lesson.id %}" method="POST">
                        {% csrf_token %}
                        <tr>
                            {% if lesson.class_type %}
                                <th class="text-capitalize" scope="row">{{ lesson.class_type.friendly_name }}</th>
                            {% endif %}
                            <td>{{ lesson.coach }}</td>
                            <td>{{ lesson.date }}</td>
                            <td>{{ lesson.time }}</td>
                            <td>&#163; {{ lesson.price }}</td>
                            {% if lesson.spots > 0 %}
                                <td><input type="submit" class="btn btn-lightblue btn-block text-uppercase mt-2" value="Book Lesson"></td>         
                            {% endif %}   
                            {% if request.user.is_staff %}
                            <td>
                                <small class="ml-3">
                                    <a class="text-info" href="{% url 'edit_lesson' lesson.id %}">Edit</a>  
                                    <button type="button" class="btn-words" data-toggle="modal" data-target="#delete-modal" data-url="{% url 'delete_lesson' lesson.id %}" data-name="lesson by {{lesson.coach}} on {{ lesson.date }}" data-topic="Lesson">
                                        Delete
                                    </button>
                                </small>
                            </td>
                            {% endif %}                            
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="container-fluid container-shop">
        <div class="row text-center">
            <div class="col-12">
                <h2>Get Ready For Lessons</h2>
                <a href="{% url 'products' %}" class="btn btn-beige btn-large text-uppercase">Shop Now</a>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.btt-link').click(function(e) {
			window.scrollTo(0,0);
		});
        $('#lesson-sort-selector').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset"){
                let sort = selectedVal.split("/")[0];
                let direction = selectedVal.split("/")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}