{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container header-margin">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Lesson Management</h2>
                <h5 class="text-muted">Edit a Lesson</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_lesson' lesson.id %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form.class_type | as_crispy_field }}
                    {{ form.coach | as_crispy_field }}
                    {{ form.description | as_crispy_field }}
                    <div class="div  flex-row-between">
                        <div class="mb-3">
                            <label for="price" class="form-label">Price*</label>
                            <div>
                                <input class="form-control btn-outline-black" type="number" value="{{ lesson.price }}" name="price" min="0" max="1000" id="price" required>
                            </div>
                        </div>
                    </div>
                    {{ form.date | as_crispy_field }}
                    {{ form.time | as_crispy_field }}
                    <div class="div  flex-row-between">
                        <div class="mb-3">
                            <label for="spots" class="form-label">Spots*</label>
                            <div>
                                <input class="form-control btn-outline-black" type="number" name="spots" value="4" min="1" max="8" id="spots" required>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-greige" href="{% url 'all_lessons' %}">Cancel</a>
                        <button class="btn btn-lightblue" type="submit">Update Lesson</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}