{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid header-margin">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font">Coaches</h2>
                <hr class="w-50 mb-3">
            </div>
        </div>
        {% for coach in coaches %}
            <div class="row text-center justify-content-center">
                <div class="col-12 col-md-5 px-4">
                    {% if coach.image %}
                        <a href="{{ coach.image.url }}" target="_blank">
                            <img class="w-75" src="{{ coach.image.url }}" alt="{{ coach.first_name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="w-75" src="{{ MEDIA_URL }}noimage.png" alt="{{ coach.first_name }}">
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-md-5 px-5">
                    <h3> 
                        <a href="{% url 'view_coach' coach.id %}">
                            {{ coach.first_name }}
                        </a>
                    </h3>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a class="text-info" href="{% url 'edit_coach' coach.id %}">Edit</a>
                            <button type="button" class="btn-words" data-toggle="modal" data-target="#delete-modal" data-url="{% url 'delete_coach' coach.id %}" data-name="{{ coach.first_name }}">
                                Delete
                              </button>
                        </small>
                    {% endif %}
                    <p>
                        {{ coach.description}}
                    </p>
                    <a href="{% url 'all_lessons' %}" class="btn btn-info btn-large">Book lesson with {{ coach.first_name}}</a>
                </div>
            </div>
            <hr class="w-50 mb-3">
            </div>
        {% endfor %}
        <!-- delete coach modal -->
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-coach" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Coach</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you'd like to delete <span id="coach-name"></span> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" id="confirm-delete">Delete</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}